/* .servicios{
    background-color: #f5f5f5;
    padding: 2vh 0;
    text-align: center;
    color:#112D4E;
} */



/* .cardServicios{
    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
/* .oval {
    
    width: 200px;
    height: 90px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #112D4E;
    margin: auto!important;
    color: #F9F7F7;
} */


.serviciosPostTitulo{
    margin-bottom: 3vh;
}

.cardServices{
    margin: auto;
    background-image: url('/src/assets/imagenServ1.png');
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:4vh!important;
    margin-top:30px;
    min-width: 200px!important;
    box-sizing: content-box;
    width: 100%;
}
/* .containerOvals{
    display: contents;
    justify-content: space-around;
    margin-top: 5vh;
} */

.tittleServices{
    color:#000;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    opacity: 1;
    padding: 1vh;
    font-size: 3vh;
    max-width:30vh;
}

.slick-prev:before, .slick-next:before {
    color: black !important;;
}